.teste-he {
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: aqua;
};
.teste-he-2 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 94, 0);
}

;
.teste-fo {
    font-size: 10px;
        font-family: Arial, sans-serif;
        background-color: rgb(107, 189, 52);
    }
        .teste-bo {
            font-size: 10px;
            font-family: Arial, sans-serif;
            background-color: rgb(189, 52, 116);
        }

                teste-foot {
                    font-size: 20px;
                    font-family: Arial, sans-serif;
                    background-color: rgb(0, 0, 0);
                }
    // * {
    //     font-size: 15px;
    //     font-family: Arial, sans-serif;
    //     background-color: rgb(35, 37, 168);
    // }