//-------- >> Import de Colors e Fonts << --------//

$color-gray: #161819;
$color-red: #ff0000;
$color-white: #fff;

:root {
  --color-gray: #161819;
  --color-red: #ff0000;
  --color-white: #fff;
}
