.titulo {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-gray);
  text-align: left;
  margin-bottom: 1rem;
  margin-left: 1.5rem;

}
//%% ------ Titulo Geral da Home ------//
.titulo-geral {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-red);
  text-align: left;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

